body {
    display : flex;
    height : 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #111;
    margin : 0;
}

.container  {
    
    display: flex;
    flex-direction: row;
    max-width : 400px;
    flex-wrap: wrap;
   
}

.square {
    margin :2px;
    width : 16px;
    height: 16px;
    background-color: #1d1d1d;
    transition: 2s ease;
    box-shadow: 0 0 2px #000;
}

.square:hover {
    transition-duration: 0s;
}

*  {
    box-sizing: border-box;
}